Source: ebeam-interact
Section: nonfree/main
Priority: extra
Maintainer: Equipo Huayra <equipohuayra@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: http://www.e-beam.com/
Vcs-Browser: https://github.com/HuayraLinux/pkg-ebeam
Vcs-Git: https://github.com/HuayraLinux/pkg-ebeam.git

Package: ebeam-interact
Architecture: all
Multiarch: same
Depends: libbluetooth3,
    perl,
    libasound2,
    libatk1.0-0,
    libc6,
    libcairo2,
    libgcc1,
    libgl1-mesa-glx | libgl1,
    libglib2.0-0,
    libglu1-mesa | libglu1,
    libgtk2.0-0,
    libice6,
    liblcms2,
    libpango1.0-0,
    libsm6,
    libstdc++6,
    libx11-6,
    libxext6,
    libxml2,
    libxslt1.1,
    libxtst6,
    libxxf86vm1,
    zlib1g
Description: eBeam Interactive Suite (pizarra digital)
 Driver y aplicación par la pizarra digital Ebeam Edge de Luidia



