
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=interact %U
Name=eBeamScrapbook
Icon=/opt/interact/desktop/scrapbook.svg
Categories=Other;
MimeType=application/esb;
