
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/interact/desktop/scrapbook-help
Name=Scrapbook Help
Icon=/opt/interact/desktop/scrapbook.svg


